$OKC_blue: #007dc3;
$OKC_dark: #002962;
$OKC_Orange: #F1502F;
$OKC_Yellow: #FDBC2D;
$op_color: #008347;
body{
	background-color: $OKC_blue;
}
@media(min-width: 500px){
	h1::before{
		content: "Oklahoma City Thunder Central";
	}
}
@media(max-width: 499px){
	h1::before{
		content: "OKC Thunder Central";
	}
}

h1{
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	color: $OKC_Orange;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
	color: $OKC_Yellow;
}
a:hover, a:active, a:focus {
	color:$OKC_Orange;
}
#top{
	margin: 30px;
}
#info{
	margin: 25px;
	margin-left: 35px;
	margin-right: 0px;
	font-size: medium;
	color: $OKC_Yellow;
	#lastgame{
		a{
			color: $op_color;
		}
	}
}
#middle{
	margin-bottom: 15px;
	margin-top: -35px;
	padding: 15px;
	a{
		color: $OKC_dark;
	}
	a:hover, a:active, a:focus {
		color:$OKC_blue;
	}
	#roster{
		background-color: $OKC_Orange;
		margin-left: 40px;
		width: 300px;
		lh{
			text-align: left;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			font-weight: bold;
			font-size: x-large;
			color: $OKC_Yellow;
		}
	}
	#season{
		background-color: $OKC_Yellow;
		margin-left: 40px;
		width: 400px;
		padding: 15px;
		font-size: large;
		font-weight: bold;
		a{
			font-weight: normal;
			font-size: large;
		}
		img{
			height: 60px;
			margin-left: 135px;
			border: 2px solid $OKC_dark;
			border-collapse: collapse;
		}
		.adams{
			margin-left: 100px;
		}
		.sga{
			margin-left: 10px;
		}
		.noel{
			margin-left: 109px;
		}
		.expl{
			font-weight: normal;
			font-size: small;
		}
		h3{
			font-size: xx-large;
			text-align: center;
			font-weight: bold;
			color: $OKC_Orange;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		}
	}
}